.header{
    text-align: right;
    padding-right: 15px;
    word-spacing: 20px;
    font-size: 20px;
}
.color{
    color: salmon;
}
.first-section img{
    width: 100%;
    height: 100%;
}
#unique{
    font-size: 80px;
    font-weight: 70px;
    line-height: 80px;
    color: #363958;
    font-family: Bebas Neue;
}
.section-header{
    text-align: center;
    font-family: Bebas Neu;
    font-size: 48px;
}
.first-section{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 1%;
}
h2{
    font-size: 50px;
}
#about{
    font-size: 48px;
}
.card-section{
    background-color: #E5E5E5;
    padding: 10px 15px;
}
.card-picture{
    width: 343.54px;
    height: 213.23px;
}
.card-first-division{
    float: left;
}
p{
    font-size: 16px;
}
.hire-me-link{
    text-decoration: none;
    background-image: linear-gradient(70deg, lightsalmon, tomato);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}